@model bool
@{
	ViewBag.Title = "Home Page";
}

<div id="root"></div>

@section scripts
{
    @if (@Model)
    {
	    <script src="~/js/main.bundle.js"></script>
    }
    else
    {
	    <script src="~/js/main.bundle.min.js"></script>
    }
}
