@import "../../Styles/customBootstrapVariables.scss";
@import "../../Styles/_mixins.scss";

$shadow-font: $gray-700;

.kAndJText {
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 0.25em;
	color: $linen !important;
	//font-size: 20vmin;
	text-shadow: -1px -1px 0 $shadow-font, 0 -1px 0 $shadow-font, 1px -1px 0 $shadow-font, 1px 0 0 $shadow-font, 1px 1px 0 $shadow-font, 0 1px 0 $shadow-font, -1px 1px 0 $shadow-font, -1px 0 0 $shadow-font;
}

.app {
	background-color: darken($linen, 5%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 95vh;
	overflow-x: hidden;
	z-index: -10;

	.invitationBody {
		@include border-radius(20px);
		height: 95vh;
		padding: 15px;
	}
}

.footer {
	font-size: 16pt;
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: darken($linen, 10%);
	padding: 0 15px;

}
