@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import "../../Styles/customBootstrapVariables.scss";

.entryOuterDiv {

	.heartImageDiv {
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		height: 60vh;
		padding-bottom: 5vh;
	}	
}
