@import "../../Styles/customBootstrapVariables.scss";
@import "../../node_modules/bootstrap/scss/_mixins.scss";

.storeCard {
	.cardBody{
		text-align: center;
	}
	.logoImg {
		align-self: center;
		display: block;
		max-width: 100%;
	}
	img {
		max-height: 100px;
		max-width: 100%;
		width: auto;
		height: auto;

		@include media-breakpoint-only(sm) {
			max-width: 120px;
		}
	}

	.storeButtons {
		width: 100%;
	}
}
