.loadingSpinner {
	display: flex;
	justify-content: center;
	height: 350px;
	align-items: center;
	z-index: 100;
	margin-bottom: -350px;
	font-size: 6vmax;
}

.troubleText {
	text-align: center;
	font-size: 1.5vmax;
	padding: 20px 0;
}

.iframeContainer {
	> iframe {
		min-height: 375px !important;
	}
}
