{
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"env": {
		"browser": true
	},
	"rules": {
		"brace-style": ["warn", "allman", {
				"allowSingleLine": true
			}
		],
		"class-methods-use-this": "warn",
		"comma-dangle": ["warn", "always-multiline"],
		"implicit-arrow-linebreak": "off",
		"indent": ["warn", "tab"],
		"jsx-a11y/anchor-is-valid": ["error", {
				"components": ["Link"],
				"specialLink": ["to", "hrefLeft", "hrefRight"],
				"aspects": ["noHref", "invalidHref", "preferButton"]
			}
		],
		"jsx-a11y/label-has-for": ["warn", {
				"components": ["Label"],
				"required": {
					"some": ["nesting", "id"]
				},
				"allowChildren": false
			}
		],
		"linebreak-style": "off",
		"max-len": [1, 80, 2, {
				"ignoreComments": true
			}
		],
		"no-mixed-spaces-and-tabs": "warn",
		"no-tabs": "off",
		"no-unused-vars": "warn",
		"operator-linebreak": ["warn", "before", {
				"overrides": {
					"=": "after"
				}
			}
		],
		"quotes": ["error", "double"],
		"react/destructuring-assignment": ["warn", "always", {
				"ignoreClassFields": true
			}
		],
		"react/forbid-prop-types": "off",
		"react/jsx-indent": [1, "tab"],
		"react/jsx-indent-props": ["warn", "tab"],
		"react/no-unused-prop-types": "warn",
		"react/prop-types": [0],
		"space-before-function-paren": ["error", {
				"anonymous": "never",
				"named": "never",
				"asyncArrow": "ignore"
			}
		]
	},
	"extends": ["airbnb"],
	"overrides": [{
			"files": ["*Container.jsx"],
			"rules": {
				"react/prop-types": [1]
			}
		}
	]
}
