{
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"env": {
		"browser": true
	},
	"rules": {
		"max-len": [1, 80, 2, {"ignoreComments": true}],
		"react/prop-types": [0],
		"no-tabs": "off",
		"no-mixed-spaces-and-tabs": "warn",
		"indent": ["warn","tab"],
		"linebreak-style": ["warn", "unix"],
		"comma-dangle": ["warn", "always-multiline"],
		"no-unused-vars": "warn",
		"class-methods-use-this": "warn",
		"react/jsx-indent": [1, "tab"],
		"quotes": ["error", "double"],
		"space-before-function-paren": ["error", {
			"anonymous": "never",
			"named": "never",
			"asyncArrow": "ignore"
		}],
		"react/forbid-prop-types": "off",
		"react/no-unused-prop-types":  "warn"
	},
	"extends": ["airbnb"],
	"overrides":  [
		{
			"files": [ "*Container.jsx" ],
			"rules": {
				"react/prop-types": [1]
			}
		}
	] 
}

